.catalog {
  text-align: center;
  background-color: @bg-color2;
}

.catalog__description {
  color: @text-color2;
}

.catalog__sortind-list {
  list-style: none;
  font-weight: 500;
  display: flex;
  padding: 0 43px;

  & li {
    margin: 0 auto;
  }
}

.catalog__sorting-link {
  color: rgba(@text-color1, 0.2);

  &--current {
    color: @text-color1;
  }
}

.catalog__list {
  list-style: none;
}
